version: '3.8'

services:
  # MONITORING
  watchtower:
    container_name: watchtower
    image: containrrr/watchtower:latest
    networks:
      - monitoring
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  grafana:
    container_name: grafana
    image: grafana/grafana
    ports:
      - "${GRAFANA_PORT:-3000}:3000"
    networks:
      - monitoring

  influxdb:
    container_name: influxdb
    image: influxdb
    ports:
      - "${DOCKER_INFLUXDB_INIT_PORT:-8086}:8086"
    networks:
      - monitoring

  # MEDIA CENTER
  watchlistarr:
    container_name: watchlistarr
    image: watchlistarr/watchlistarr
    networks:
      - media
    depends_on:
      service_started:
       
  sentarr:
    container_name: sentarr
    image: sentarr/sentarr
    networks:
      - media
    depends_on:
      service_started:

  # DOWNLOADING
  transmission:
    container_name: transmission
    image: transmission
    networks:
      - downloading

  # ERROR MONITORING
  error-monitoring:
    container_name: error-monitoring
    image: error-monitoring
    networks:
      - error

networks:
  monitoring:
  media:
  downloading:
  error: