version: '3.8'
services:
  # ============ MONITORING ============
  plex:
    container_name: plex
    image: linuxserver/plex
    network_mode: "host"
    volumes:
      - ${USERDIR}/plex/config:/config
      - ${USERDIR}/plex/media:/media

  tautulli:
    container_name: tautulli
    image: tautulli/tautulli
    networks:
      - monitoring_network
    depends_on:
      - plex
    volumes:
      - ${USERDIR}/tautulli:/config

  grafana:
    container_name: grafana
    image: grafana/grafana
    networks:
      - monitoring_network
    depends_on:
      - telegraf
    ports:
      - "${GRAFANA_PORT:-3000}:3000"
    volumes:
      - ${USERDIR}/grafana:/var/lib/grafana

  telegraf:
    container_name: telegraf
    image: telegraf:latest
    networks:
      - monitoring_network
    volumes:
      - ${USERDIR}/telegraf:/etc/telegraf

  overseerr:
    container_name: overseerr
    image: sctx/overseerr
    networks:
      - media_network
    depends_on:
      - plex
    volumes:
      - ${USERDIR}/overseerr:/app/data

  watchtower:
    container_name: watchtower
    image: containrrr/watchtower:latest
    networks:
      - monitoring_network

  # ============ MEDIA CENTER ============
  watchlistarr:
    container_name: watchlistarr
    image: watchlistarr/watchlistarr
    networks:
      - download_network
    volumes:
      - ${USERDIR}/watchlistarr:/config

  sentarr:
    container_name: sentarr
    image: sentarr/sentarr
    networks:
      - media_network
    depends_on:
      - plex
    volumes:
      - ${USERDIR}/sentarr:/config

  # ============ DOWNLOADING ============
  transmission:
    container_name: transmission
    image: linuxserver/transmission
    environment:
      - TRANSMISSION_RPC_HOST_WHITELIST=192.168.86.*
    networks:
      - download_network
    volumes:
      - ${USERDIR}/transmission/config:/config

  # ============ ERROR MONITORING ============
  cleanarr:
    container_name: cleanarr
    image: cleanarr/cleanarr
    networks:
      - download_network
    volumes:
      - ${USERDIR}/cleanarr:/config

  requestrr:
    container_name: requestrr
    image: requestrr/requestrr
    networks:
      - download_network
    volumes:
      - ${USERDIR}/requestrr:/config

networks:
  monitoring_network:
  media_network:
  download_network:

volumes:
  plex:
  tautulli:
  grafana:
  telegraf:
  overseerr:
  watchlistarr:
  sentarr:
  cleanarr:
  requestrr:
  transmission:
